In [13]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

## Mars News

In [28]:
#Finding the artilce 
article_location = soup.find('div', class_="list_text")
#Finding the title of the article
title_location = article_location.find('div', class_="content_title")
title = title_location.find('a').text
#Finding the body of the article
body= article_location.find('div', class_="article_teaser_body").text
print(f"{title} : {body}")

The Launch Is Approaching for NASA's Next Mars Rover, Perseverance : The Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan.

## Mars Images

In [32]:
image_website = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_website)

In [33]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [38]:
footer = soup.find('footer')
image_url = soup.find('a', class_="fancybox")['data-fancybox-href']
image_url = f"https://www.jpl.nasa.gov{image_url}"
image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA07137_ip.jpg'

## Mars Weather

In [40]:
twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)

In [41]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [61]:
tweet = soup.find('div', class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0")
mars_weather = tweet.span.text
mars_weather = mars_weather.replace('\n','')
mars_weather

'InSight sol 556 (2020-06-19) low -90.8ºC (-131.4ºF) high -6.5ºC (20.4ºF)winds from the W at 7.3 m/s (16.3 mph) gusting to 21.3 m/s (47.6 mph)pressure at 7.50 hPa'

## Mars Facts

In [62]:
table_url = "https://space-facts.com/mars/"

In [64]:
tables = pd.read_html(table_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [65]:
mars_info = tables[1]
mars_info

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

In [67]:
mars_info.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [68]:
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemispheres_url)

In [69]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [125]:
hemispheres = ["Cerberus Hemisphere", "Schiaparelli Hemisphere",
             "Syrtis Major Hemisphere", "Valles Marineris Hemisphere"]
hemisphere_images_urls = []
for sphere in hemispheres:
    browser.click_link_by_partial_text(sphere)
    image_link = browser.find_by_tag('dd')[1]
    image_link = image_link.find_by_tag('a')['href']
    title = sphere
    hemisphere_dict = {"Title":title, "Img_URL":image_link}
    hemisphere_images_urls.append(hemisphere_dict)
    browser.visit(hemispheres_url)

In [126]:
hemisphere_images_urls

[{'Title': 'Cerberus Hemisphere',
  'Img_URL': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif'},
 {'Title': 'Schiaparelli Hemisphere',
  'Img_URL': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif'},
 {'Title': 'Syrtis Major Hemisphere',
  'Img_URL': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif'},
 {'Title': 'Valles Marineris Hemisphere',
  'Img_URL': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif'}]