In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [131]:
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

In [132]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

## Mars News

In [133]:
#Finding the artilce 
article_location = soup.find('div', class_="list_text")
#Finding the title of the article
title_location = article_location.find('div', class_="content_title")
title = title_location.find('a').text

In [134]:
#Finding the body of the article
body= article_location.find('div', class_="article_teaser_body").text
print(f"{title} : {body}")

The Launch Is Approaching for NASA's Next Mars Rover, Perseverance : The Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan.

## Mars Images

In [32]:
image_website = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_website)

In [33]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [38]:
image_url = soup.find('a', class_="fancybox")['data-fancybox-href']
image_url = f"https://www.jpl.nasa.gov{image_url}"
image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA07137_ip.jpg'

## Mars Weather

In [74]:
twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(twitter_url)

In [75]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [76]:
tweet = soup.find('div', class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0")
mars_weather = tweet.span.text
mars_weather = mars_weather.replace('\n',' ')
mars_weather

'InSight sol 559 (2020-06-22) low -90.7ºC (-131.2ºF) high -2.8ºC (27.0ºF) winds from the SW at 4.5 m/s (10.0 mph) gusting to 14.8 m/s (33.1 mph) pressure at 7.60 hPa'

## Mars Facts

In [78]:
table_url = "https://space-facts.com/mars/"

In [79]:
tables = pd.read_html(table_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [83]:
mars_info = tables[0]
mars_info = mars_info.rename(columns = {0:"Description", 1:"Value"})
mars_info

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [87]:
mars_info.to_html(index=False, classes="table-striped")

'<table border="1" class="dataframe table-striped">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [70]:
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemispheres_url)

In [71]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [72]:
hemispheres = ["Cerberus Hemisphere", "Schiaparelli Hemisphere",
             "Syrtis Major Hemisphere", "Valles Marineris Hemisphere"]
hemisphere_images_urls = []
for sphere in hemispheres:
    browser.click_link_by_partial_text(sphere)

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    image_link = soup.find("img", class_="wide-image")["src"]
    image_link = f"https://astrogeology.usgs.gov{image_link}"
    title = sphere
    hemisphere_dict = {"Title":title, "Img_URL":image_link}
    hemisphere_images_urls.append(hemisphere_dict)
    browser.visit(hemispheres_url)

In [73]:
hemisphere_images_urls

[{'Title': 'Cerberus Hemisphere',
  'Img_URL': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'Title': 'Schiaparelli Hemisphere',
  'Img_URL': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'Title': 'Syrtis Major Hemisphere',
  'Img_URL': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'Title': 'Valles Marineris Hemisphere',
  'Img_URL': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]